/* styles.css hoặc Dashboard.css */
.dashboard-bg {
  background-image: url('./images/nen2.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  padding-top: 100px;
  z-index: -1;
}

.total-plates {
  margin-top: 10px;
}

.latest-plates-list {
  margin-top: 30px;
}

.plates-chart {
  position: relative;
  margin-top: 50px;
  right: 200px;
}


